.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.timeline {
  width: 100%;
}
